/out/production/Lambdas_Func_interfaces/User.class
/out/production/Lambdas_Func_interfaces/Main.class
/out/production/handson/.idea/misc.xml
/out/production/handson/.idea/modules.xml
/out/production/handson/Streams.class
/out/production/Lambdas_Func_interfaces/Validate.class
/out/production/handson/.idea/.gitignore
/out/production/handson/Employee.class
/out/production/handson/handson.iml
/handson.iml
/Lambdas_Func_interfaces/Lambdas_Func_interfaces.iml
